{% extends "navbar.html" %}
{% block main %}
    <img src="{{url_for('static', filename='images/home_banner.png')}}" alt="L'outil rêvé, nous l'avons créé.">
    <section>
        <h1>Vous avez dit PFM ?</h1>
        <p>PFMaker est l'outil rêvé par toutes entreprises pour découvrir de nouveaux talents encore inconnus ou pour des développeurs pressés. Elle permet notamment la conception rapide d'un mini-portfolio par chaque développeur (de façon rapide et simple), la recherche par langage maîtrisé, par nom, l'accès aux projets des développeurs,... Il ne vous reste donc plus qu'à créer un compte, et comme le disent nos amis britanniques, ENJOY !!
        </p>
    </section>
{% endblock main %}